<%- include('partials/header') -%>
<div class="container">
    <div class="row mt-5">
        <div class="col-6">
            <div class="mt-5">
              <h2>Add a post</h2>
              <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                  <label for="title" class="form-label">Tag</label>
                  <select class="select select-bordered" id="title" name="title"  required >
                      <option value="" disabled selected>Select a tag</option>
                      <option value="Exercise">Exercise</option>
                      <option value="Receipe">Receipe</option>
                  </select>
              </div>
              
                <div class="mb-3">
                  <label for="caption" class="form-label">Caption</label>
                  <textarea class="form-control" id="caption" name="caption"  required ></textarea>
                </div>
                <div class="mb-3">
                  <label for="imgUpload" class="form-label">Image</label>
                  <input type="file" class="form-control" id="imageUpload" name="file"  required >
                </div>
                <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
<%- include('partials/footer') -%>