<%- include('partials/header') -%>

<!-- Hero Section -->
<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 p-0">
  <!-- Left Image -->
  <div class="overflow-hidden">
    <img src="/imgs/volley.png" alt="Logo" class="w-full h-full object-cover">
  </div>
  <!-- Center Sign-Up Form -->
  <div class="flex items-center justify-center p-8 bg-white">
    <div class="text-center">
      <h1 class="text-2xl font-semibold text-black text-pretty mb-3">"Ever dreamed of being a coach or sharing your recipes and workouts with the world?"</h1>
      <p class="track">Join & Track your progress and cheer each other on.<br>RealFit is a community-powered motivation app.</p>
      <p class="track">Already a Member?<a href="/login" class="text-orange-600"> Log In </a></p>
      <ul class="flex flex-col space-y-4">
        <li><a href="/signup" class="btn w-full bg-orange-600 border-none hover:opacity-75 text-white font-semibold hover:bg-gray-400 rounded-md">Sign up</a></li>
        <li><a href="/signup" class="btn w-full bg-white border text-black border-black hover:bg-gray-300">
          <img src="/imgs/apple.png" alt="Apple Logo" class="w-4 h-4 mr-2">
          Sign Up With Apple
        </a></li>
        <li><a href="/signup" class="btn w-full bg-white border text-black hover:bg-gray-300 border-black">
          <img src="/imgs/google.png" alt="Google Logo" class="w-4 h-4 mr-2">
          Sign Up With Google
        </a></li>
        <li><a href="/login" class="btn w-full bg-black text-white font-semibold rounded-md mb-5">Sign In</a></li>
      </ul>
      
      <span class="track">By signing up for RealFit, you agree to the Terms of Service. View our <a href="#" class="text-orange-600 underline">Privacy Policy</a>.
      </p></span>
    </div>
  </div>
  <!-- Right Image -->
  <div class="overflow-hidden">
    <img src="/imgs/chkn.png" alt="Logo" class="w-full h-full object-cover">
  </div>
</section>

 
<%- include('partials/footer') -%>